.navbar, footer {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.navbar-brand {
    color: #50596c;
}

.navbar-section i {
    margin-right: 8px;
}

footer {
    text-align: right;
    color: #acb3c2;
}

footer > .logo > img {
    height: 7rem;
    margin-left: 12px;
}

footer > section {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

/*Profile Page*/
#profile {
    display: flex;
}

#profile > #sectProfile {
    flex-grow: 1;
}

#profile > #sectFriends {
    flex-grow: 1;
}

.profile-info > figure {
    margin: 1.5rem;
    display: inline-block;
    padding: 1rem;
    height: 12rem;
    width: 12rem;
}

#all-friends td {
    position: relative;
}

#all-friends tr:hover, #all-friends tr:active {
    background: #d9d9d9;
}

#all-friends td.score span::before {
    content: "G";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    background: #BBBBBB;
    border-radius: 1rem;
    color: white;
    position: absolute;
    left: -1.5rem;
}

#all-friends .profile-info > figure {
    height: 8rem;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

#profile > #sectProfile > #info {
    display: inline-block;
    vertical-align: middle;
}

#profile > #sectProfile > #info > #score {
    position: relative;
    padding-left: 2.5rem;
}

#profile > #sectProfile > #info > #score::before {
    content: "G";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    background: #BBBBBB;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 0.2rem;
    left: 0;
}

.profile-info .badge[data-badge]::after {
    font-size: 1.8rem;
    height: 2.8rem;
    min-width: 2.8rem;
    border-radius: 1.3rem;
    line-height: 2rem;
}

.profile-info .avatar {
    background: #d9d9d9;
}

.profile-info .avatar.gold {
    background: #ffcc00;
}

#profile > #sectFriends .table td {
    border-bottom: 0;
}

#profile > #sectFriends .table thead td#seeMore {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 0;
}

#profile > #sectFriends .table thead td#seeMore button {
    margin-left: 2rem;    
}

#profile > #sectFriends .table tr td:nth-of-type(1) {
    text-align: right;
}

#profile > #sectFriends .table tr:nth-of-type(1) i {
    color: #eedb08;
}

#profile > #sectFriends .table tr:nth-of-type(2) i {
    color: #757575;
}

#profile > #sectFriends .table tr:nth-of-type(3) i {
    color: #ae6c3a;
}

#sectActivity img.activity-item {
    width: 100%;
}

#sectActivity #captures {
    display: none;
}

@media (max-width: 410px) {
    #profile > #sectFriends .table tbody tr td:last-of-type {
        display: none;
    }
}

@media (max-resolution: 450dpi) {
    #all-friends tbody tr td:last-of-type {
        display: none;
    }
}


#sectActivity .capture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#sectActivity .capture .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
    color: #ffffff;
}

#sectActivity .capture .play-icon i {
    font-size: 10rem;
    margin: 0 auto;
}

#sectActivity .achievement {
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    overflow: hidden;
}

.achievement .achievement-title {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

.achievement .achievement-game {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

.achievement .achievement-score {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

#videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    bottom: 0;
    align-items: center;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    visibility: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
}

#videoContainer > #player > video {
    width: 100%;
    max-width: 900px;
}

#videoContainer > #player {
    border-width: 0.3rem;
    margin: 0 auto;
}

#gold-lounge > #free {
    display: flex;
    padding-top: 1rem;
}

#gold-lounge > #free .game-container {
    /*margin-right: 1rem;*/
    position: relative;
}

#gold-lounge > #free .game-container span {
    position: absolute;
    width: 100%;
    text-align: center;
    text-decoration: line-through;
    bottom: 1rem;
    font-size: 2rem;
    background: rgba(100, 100, 100, 0.7);
    color: white;
}

#discounts {
    display: flex;
    flex-wrap: wrap;
}

#gold-lounge > h4 {
    text-align: center;
}
#free-play {
    text-align: center;
    flex-grow: 1;
}
#free-play #play {
    display: flex;
    padding-top: 1rem;
}

#free-play #play .game-container {
width: 100%;
}

#releases {
    position: relative;
    overflow: hidden;
}

#releases span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1rem;
    font-size: 3rem;
    background: rgba(100, 100, 100, 0.7);
    color: white;
}

#free-play #play .game-container img {
    margin: 0 auto;
}

#gold-lounge #free div:first-of-type {
margin-right: 0.5rem;
}

#gold-lounge #free div:last-of-type {
margin-left: 0.5rem;
}
