.navbar, footer {
    background: #f8f9fa;
    color: #667189;
    padding: 1rem;
}

.navbar-brand {
    color: #50596c;
}

.navbar-section i {
    margin-right: 8px;
}

footer {
    text-align: right;
    color: #acb3c2;
}

footer > .logo > img {
    height: 7rem;
    margin-left: 12px;
}

footer > section {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

/*Profile Page*/
#profile {
    display: flex;
}

#profile > #sectProfile {
    flex-grow: 1;
}

#profile > #sectFriends {
    flex-grow: 1;
}

#profile > #sectProfile > figure {
    margin: 1.5rem;
    display: inline-block;
    padding: 1rem;
    height: 12rem;
    width: 12rem;
}

#profile > #sectProfile > #info {
    display: inline-block;
    vertical-align: middle;
}

#profile > #sectProfile > #info > #score {
    position: relative;
    padding-left: 2.5rem;
}

#profile > #sectProfile > #info > #score::before {
    content: "G";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    background: #BBBBBB;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 0.2rem;
    left: 0;
}

#sectProfile .badge[data-badge]::after {
    font-size: 1.8rem;
    height: 2.8rem;
    min-width: 2.8rem;
    border-radius: 1.3rem;
    line-height: 2rem;
}

#sectProfile .avatar {
    background: #d9d9d9;
}

#sectProfile .avatar.gold {
    background: #ffcc00;
}

#profile > #sectFriends .table td {
    border-bottom: 0;
}

#profile > #sectFriends .table tr:nth-of-type(1) i {
    color: #eedb08;
}

#profile > #sectFriends .table tr:nth-of-type(2) i {
    color: #757575;
}

#profile > #sectFriends .table tr:nth-of-type(3) i {
    color: #ae6c3a;
}

#sectActivity img.activity-item{
    width: 100%;
}

#sectActivity #captures {
    display: none;
}

@media (max-width: 410px) {
    #profile > #sectFriends .table tr td:last-of-type {
        display: none;
    }
}

#sectActivity .capture {
    position: relative;
    cursor: pointer;
}

#sectActivity .capture .play-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
    color: #ffffff;
}

#sectActivity .capture .play-icon i {
    font-size: 10rem;
    margin: 0 auto;
}

#sectActivity .achievement {
    position: relative;
    color: #ffffff;
    font-size: 2rem;
}

.achievement .achievement-title {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

.achievement .achievement-game {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

.achievement .achievement-score {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
}

#videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    bottom: 0;
    align-items: center;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    visibility: hidden;
}

#videoContainer > #player > video {
    width: 100%;
}

#videoContainer > #player {
    margin-left: 2rem;
    margin-right: 2rem;
    border-width: 0.3rem;
}